
  <header>
    <%- include('./partials/navBar', {user: user}); %>
  </header>
  <div class="div-row">
    <div class="register-form">
      <h1>Registro</h1>
      <form action="/registration" method="POST">
        <input type="text" name="name" placeholder="Nombre">
        <input type="text" name="second_name" placeholder="Segundo nombre">
        <input type="text" name="surname" placeholder="Apellido">
        <input type="text" name="second_surname" placeholder="Segundo apellido">
        <input type="text" name="email" placeholder="Correo">
        <input type="password" name="password" placeholder="Contraseña">
        <div class="div-row">
          <select name="gender" class="select-css">
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
          </select>
          <select name="rol" class="select-css">
            <option value="mod">Mod</option>
          </select>
        </div>

        <input type="submit" class="btn-primary" value="Registrar">

      </form>
    </div>

    <div class="permissions-form">
      <h1>Permisos</h1>
      <form action="/permissions" method="POST">
        <div class="div-wrapper">
          <h6 id="div-wrapper-title">Peliculas</h6>
          <div>
            <input type="checkbox" id="coding" name="interest" value="coding">
            <label for="coding">Agregar</label>
          </div>

          <div>
            <input type="checkbox" id="music" name="interest" value="music">
            <label for="music">Editar</label>
          </div>

          <div>
            <input type="checkbox" id="music" name="interest" value="music">
            <label for="music">Eliminar</label>
          </div>

          <div>
            <input type="checkbox" id="music" name="interest" value="music">
            <label for="music">Obtener</label>
          </div>
        </div>
        
        <input type="text" name="email" placeholder="Correo">

        <input type="submit" class="btn-primary" value="Permitir">
        <input type="submit" class="btn-cancel" value="Denegar">

      </form>
    </div>
  </div>
  

  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <% if(typeof alert != "undefined"){%>

    <script>
      Swal.fire({
        width: 'auto',
        padding: '',
        title: '<%= alertTitle %>',
        icon: '<%= alertIcon %>',
        showConfirmButton: '<%= showConfirmButton %>',
        timer: '<%= timer %>',
      })
    </script>
    <% } %>